<h3> Add a new dog: </h3>
<input type="text" [(ngModel)]="newDog.name" placeholder="Dog name">
<input type="text" [(ngModel)]="newDog.weight"  placeholder="Dog weight">
<input type="date" [(ngModel)]="newDog.birthDate"  placeholder="">
<button *ngIf="!newDog.id" class="add" (click)='addDog()'>Add</button>
<button *ngIf="newDog.id" class="add" (click)='edDog()' routerLink="/">Edit</button>
<button *ngIf="newDog.id" class="add" (click)='cancelEd()' routerLink="/">Cancel</button>
<span *ngIf = "newDog.weight < 10 && newDog.weight > 0 " [ngClass]="{'warning' : newDog.weight < 5, 'message': true }">{{newDog.name}} is underweight</span>