li {
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    list-style-type: none;
    width:500px;
}

button {
    background-color: red;
    width: 25px;
    font-family: 'Gill Sans', sans-serif;
    color: white;
    border-radius: 3px;
    float: right;
    outline-color: rgb(209, 168, 168);
    outline-width: 0.2px;
}

h3 {
margin: 10px auto 5px auto;
text-align: center;
font-family: 'Gill Sans', sans-serif;
margin: 10px;
}