<!-- <app-add-edit (dogAdded)="addLastUpdated($event)" [newDog]="selectedDog"></app-add-edit> -->
<h3>Doggy-doggy list:</h3>
<ul>
  <li *ngFor="let dog of dogs; let i = index">{{i+1}}) {{dog.name|uppercase}} - {{dog.weight}}kgs - {{dog.toggleClass ? (dog.birthDate) : (dog.birthDate| date:short)}} 
    <button class="delete"(click)='deleteDog(i)'>X</button>
    <button class="edit" (click)='chooseToEditDog(dog)'><a [routerLink]="['edit-dog', dog.id]">...</a></button>
    <button (click)='toggleDatePipe(dog)'>{{buttonContent}}</button> 
  </li>
</ul>
<h5 *ngIf="addedDog">{{addedDog}}</h5>